
.App{
  font-family: 'Michroma', sans-serif;
  text-align: center;
  color: whitesmoke;
  background-color: #2A363B;
}

#main-photo{
  height: 80%; 
}

.navbar{
  height: 50px;
}

.logo {
  width:50px;
  height: 40px;
  
}
