#leftheader {
    float: left;
    width: 50%;
    background-color: #2A363B;
    padding-top: 5px;
}
#rightheader {
    float: left;
    width: 50%;
    background-color: #2A363B;
    padding-top: 5px;
}

#hospital-cases{
    float: left;
    width: 52%;
    margin: auto;
    background-color: #2A363B;
    padding-left: 35px;
}

#death-cases{
    float: left;
    width: 48%;
    margin: auto;
    background-color: #2A363B;
    padding-left: 35px;
}



#main-photo{
    padding-bottom: 25px;
    position: relative;
    
}

#arrow-photo{
    padding-bottom: 25px;
    position: absolute;
    width: 5em;
    top: 360px;
    right: 50px;
}


#title-card{
    padding-bottom: 2px;
    margin-right: 40px;
}

