#leftheader {
    float: left;
    width: 50%;
    background-color: #2A363B;
    padding-top: 5px;
}
#rightheader {
    float: left;
    width: 50%;
    background-color: #2A363B;
    padding-top: 5px;
}

#hospital-cases{
    float: left;
    width: 52%;
    margin: auto;
    background-color: #2A363B;
    padding-left: 35px;
}

#death-cases{
    float: left;
    width: 48%;
    margin: auto;
    background-color: #2A363B;
    padding-left: 35px;
}

#citywide {
    background-color: #2A363B;
}

#main-photo{
    padding-bottom: 25px;
    background-color: #2A363B;
    position: relative;
    
}

#arrow-photo{
    padding-bottom: 25px;
    position: absolute;
    width: 5em;
    top: 360px;
    right: 50px;
}


#title-card{
    padding-bottom: 2px;
    background-color: #2A363B;
    margin-right: 40px;
}

.custom-tooltip{
    background-color: #33539E;
}

.label{
    text-align: center;
}