#sex-header{
    padding-top: 5px;
    margin-left: 60px;

}

.sex-custom-tooltip{
    background-color: #33539E;
    display: flex;
    flex-direction: column; 
}

.sex-label{
    display: flex;
    flex-direction: column;
}

