#sex-header{
    padding-top: 5px;
    margin-left: 60px;

}

.sex-custom-tooltip{
    border-radius: 50%;
    background-color: #33539E;
    height: 260px;
    width: 260px;
    display: flex;
    flex-direction: column; 
}

.sex-label{
    padding-top: 45px;
    display: flex;
    flex-direction: column;
}

